@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  position: relative;
  scroll-behavior: smooth;
}
.content-width {
  max-width: 1385px;
  margin: 0px auto;
}
.contact-details-wrapper {
  background-color: #15181d;
}

ul li {
  list-style-type: none;
}

/* mobile navigation */

.nav-open,
.nav-close {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 22%;
  right: 0;
  z-index: 1000;
  max-width: 250px;
  width: 100%;
  height: 30vh;

  background-color: rgba(255, 255, 255, 0.748);
  backdrop-filter: blur(10px);

  transition: all 500ms ease-in-out;
  transform: translate(100%, -50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.409);
}

.nav-open:checked + .mobile-nav {
  transform: translate(0%, -50%);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.mobile-nav a {
  color: #282828;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  font-weight: 600;
  /* margin-left: 2rem; */
  text-align: center;
  text-decoration: none;
}

.mobile-nav li {
  border-bottom: 1px solid gainsboro;
}

.nav-close-icon {
  background-color: #fb5e1c;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5%;
  left: -1.7rem;
}
.c-icon {
  font-size: 2rem;
  color: white;
}

.nav-open-label {
  background-color: #fb5e1c;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-icon {
  color: white;
  font-size: 3.5rem !important;
}

/* header */
/* personal details section */
.contact-details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1100px;
  padding: 2rem 1rem 1rem 1rem;
  align-items: center;
  border-bottom: 1px solid #0a0c0e;
}

.personal-details-container {
  color: #a9b0be;
  display: flex;
  gap: 6rem;
}
.personal-details-container img {
  height: 40px;
}

.flex-10 span {
  display: none;
}

.personal-details-container span {
  font-size: 2rem;
  /* font-weight: 900; */
  font-weight: bold;
}

.personal-details-container small {
  color: #6f7b92 !important;
  letter-spacing: 0.3px;
}

a.color {
  color: #6f7b92 !important;
}

.email-container,
.phone-container {
  display: flex;
  gap: 1rem;
}
/* navigation section */
.navigation-section {
  background-color: #15181d;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  opacity: 0.97;
  z-index: 1000000;
}

.main-nav a:link,
.main-nav a:visited {
  /* color: rgb(212, 212, 212); */
  /* color: #c3ccdc; */
  color: #6f7b92;
  text-decoration: none;
}

.main-nav a:hover {
  color: hsl(218, 20%, 71%);
}

.main-nav {
  display: flex;
  column-gap: 4rem;
}
.navigation-container {
  max-width: 1100px;
  padding: 2rem 1.5rem 2rem 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav-social-sites {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-bottom: 0;
}

.nav-social-sites,
.main-nav {
  align-items: center;
}
.icon {
  fill: #6f7b92;
  font-size: 2.4rem;
}

.icon:hover {
  fill: hsl(218, 20%, 71%);
}

/* hero-section */

.hero-section {
  position: relative;
}

.hero-section::after {
  display: block;
  content: "";

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a0c0ecb;
}

.w-100 {
  height: 80vh;
  object-fit: cover;

  object-position: top;
}

.carousel-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: transparent;
  text-align: center;
  padding: 2rem;
}
.heading {
  color: white;
  font-size: 3.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.heading + p {
  color: #b8bbc1;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.heading ~ a {
  display: inline-block;
  background-color: #fb5e1c;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.2rem;
  text-decoration: none;
}

.small-heading-carousel {
  color: #fb5e1c;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.heading ~ a:hover,
.heading ~ a:active {
  background-color: hsl(18, 97%, 45%);
}

.causes-section {
  /* background-color: #f1f4f6; */
  position: relative;
}
.hands-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30rem;
  background-image: url("images/causes-images/welcome_one_hands.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.hands-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/causes-images/welcome_one_bg.jpg");
  opacity: 0.9;
}

.causes-wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.main-cause-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3rem;
  position: relative;
  align-items: flex-start;
  padding: 2rem;
}
.causes-text-container {
  padding: 1rem;
}
.causes-heading {
  font-size: 3.2rem;
  color: #3d424b;
  font-weight: bold;
  text-transform: capitalize;
  padding: 2rem;
  /* border: 1px solid black; */
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.causes-heading::after {
  content: "";
  display: block;
  width: 7rem;
  height: 0.8rem;
  background-color: #fb5e1c;
  border-radius: 100000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

.child-figure {
  position: relative;
}
.child-figure img {
  max-width: 400px;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  width: 100%;
  border-radius: 0.8rem;
  display: block;
}
.child-figure::after {
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -2rem;
  width: 2rem;
  height: 95%;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  /* 
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(255, 157, 0) 0%,
    rgb(255, 109, 18) 100%
  ); */

  background-image: -webkit-linear-gradient(
    90deg,
    rgb(221, 221, 221) 0%,
    rgb(160, 158, 156) 100%
  );
}

.small-heading {
  color: #fb5e1c;
  font-family: "Shadows Into Light", cursive;
  font-size: 3rem;
}

.tertiary-heading-cause {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Abril Fatface", cursive;
  line-height: 60px;
  margin-bottom: 3rem;
}
.cause-description {
  /* color: #808080; */
  color: #666;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.causes-checkpoint {
  font-size: 2rem;
  color: #555;
}
.causes-checkpoint li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.causes-checkpoint ion-icon {
  color: rgb(255, 157, 0);
  font-size: 3rem;
  /* color: #ffc107; */
}
/*  */

.small {
  font-size: 2.4rem;
  color: #fb5e1c;
  text-align: center;
  margin-bottom: 0.5rem;
}

.gallery-heading {
  padding-top: 0;
}
.gallery-wrapper {
  max-width: 1100px;
  margin: 0px auto;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.gallery-grid {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;

  grid-auto-flow: dense;

  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  gap: 1rem; */
  grid-auto-flow: dense;
}

.gallery-grid div {
  /* max-width: 300px; */
  /* max-height: 300px; */
  overflow: hidden;
  position: relative;
}

.gallery-grid div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0c0e61;
  pointer-events: none;
}
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 26%;
  display: block;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.gallery-grid img:hover {
  transform: scale(1.2);
}

.obj-position {
  object-position: 50% 14% !important;
}
.obj-position1 {
  object-position: 50% 5% !important;
}

/*  */

.video-section {
  /* background-color: #f1f4f6; */
  position: relative;
  /* background-color: #0a0c0e; */
  padding: 5rem 0rem;
}

.video-section img {
  transition: 500ms ease-in-out;
  overflow: hidden;
}

.video-wrapper {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 10px 0 40px 0 #e8e8e8, -10px 0 40px 0 #e8e8e8;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.video-column {
  flex-basis: 50%;
  flex-grow: 0;
  min-width: 25rem;
}

.feature-img {
  width: 85%;
  margin: auto;
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
}
.small-img {
  overflow: hidden;
}

.feature-img:hover img,
.small-img:hover img {
  transform: scale(1.2);
}

.small-img-row {
  display: grid;
  column-gap: 1rem;
  align-items: center;
  grid-template-columns: 150px 1fr;
  margin: 2rem 0rem;
  /* background-color: #0a0c0e2b; */
  background-color: #f1f4f6;
  border-radius: 0.6rem;
  width: 95%;
}

.small-img {
  position: relative;
}

.small-img-row p {
  line-height: 1.6;
  font-size: 1.4rem;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f4f6d1;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.video-icon {
  font-size: 2.4rem;
  color: #282828;
}

.play-icon.small-icon {
  width: 3rem;
  height: 3rem;
}

.play-icon.small-icon .video-icon {
  font-size: 1.4rem;
}

.video-player {
  /* width: 50%; */
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}

.close-icon-position {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.close-icon {
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}
/* donation section */

.donation-main-container {
  background-color: #000;
  margin-bottom: 5rem;
}

.donation-main-container span,
.donation-color {
  /* color: rgb(219, 219, 219); */
  color: rgb(239, 239, 239);
}

.donation-main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #000 url(images/cta-3-children.jpg) 20% top/auto no-repeat local;
  padding: 10rem 2rem;
}

.cta-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  position: relative;
  gap: 2rem;
}

.donation-main-container h3 {
  font-size: 30px;

  color: #fb5e1c;
  font-weight: normal;
  margin: 0 0 0.67em;
  text-transform: capitalize;
}

.donation-color {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: capitalize;

  width: fit-content;
}

.easy-paisa-account {
  margin-left: 2rem;
}

.bank-account,
.easy-paisa-account {
  /* max-width: 200px; */

  line-height: 1.6;

  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 80%;
  background-color: rgb(134, 134, 134);
}

.cta-margin {
  margin-bottom: 0.5rem;
}

.footer-section {
  border-top: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 0px auto;
}

.copywrite {
  font-size: 1.2rem;
  color: #666;
  /* max-width: 200px; */
  line-height: 1.6;
}

/* nav */
.hide-nav-nb {
  display: none;
}
